{% extends 'pioner_prj/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
            <div class="mb-3">
                <label for="id_username">Имя пользователя</label>
                <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" class="form-control rounded-3" required="" id="id_username">
            </div>
            <div class="mb-3">
                <label for="id_password">Пароль</label>
                <input type="password" name="password" autocomplete="current-password" class="form-control rounded-3" required="" id="id_password">
            </div>
            <div class="mb-3">
                <input class="form-control" type="submit" value="Войти">
            </div>
        </form>
    </div>
{% endblock %}