{% extends 'pioner_prj/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <button type="button" class="btn btn-primary">
            <a href="{% url 'students:student_create' %}" class="nav-link px-2">Добавить обучающегося</a>
        </button>
        <div class="bd-example-snippet bd-code-snippet">
            <div class="bd-example">
                <table class="table table-stripped">
                    <thread>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Имя</th>
                            <th scope="col">Фамилия</th>
                            <th scope="col">Отчество</th>
                            <th scope="col">Дата рождения</th>
                            <th scope="col"></th>
                        </tr>
                    </thread>
                    <tbody>
                    {% for student in students %}
                        <tr>
                            <th scope="row">{{ student.id }}</th>
                            <td>{{ student.first_name }}</td>
                            <td>{{ student.last_name }}</td>
                            <td>{{ student.patronymic }}</td>
                            <td>{{ student.birth_date }}</td>
                            <td>
                                <button type="button" class="btn btn-outline-primary me-2">
                                    <a href="{% url 'students:student_edit' student.pk %}" class="nav-link px-2">Редактировать</a>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}